.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#p1 {
  border: 5px solid red;
}
#span1 {
  border: 5px solid rgb(136, 255, 0);
}
#div1 {
  border: 1px solid red;
  height: 200px;
  float:  left;
}
#div2 {
  border: 2px solid blue;
  height: 200px;
  float: right;
}
#p2 {
  border: 5px dotted rgb(190, 9, 160);
  fill: rgb(255, 255, 255); 
  color: black; 
}